.sub-container {
    margin-top: -60px;
    margin-bottom: -45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-container h1 {
    margin: 0;
}

.sub-container h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.container1 {
    margin-top: -20px;
}