body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.ant-input-affix-wrapper {
  background-color: #ddd;

}

.input.ant-input {
  background-color: #ddd !important;

}

.container {
  max-width: 1349px;
  margin: 0 auto;
}